/* navigation bar */
.nav {
    margin-top: -2px;
    grid-area: n;
    background-color: cornflowerblue;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    border: 2px solid white;
    font-family: "Century Gothic";
    line-height: 30px;
}

a {
    color: white;
}

a.activeLink {
    color: #ff000f;
}

